@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{ margin: 0; padding: 0; font-family: "Azeret Mono", monospace;}

/* header navbar and section style */
nav{display: flex; justify-content: space-between; margin: 10px 120px; align-items: center; width: 2390px;} 

.a2{text-decoration: none; color: rgb(13,19,33); font-size: 20px;font-weight: 600;
width: 170px; height: 30px; border: 1px solid rgb(13,19,33); padding: 10px 40px;
 font-family: serif;}
 .a1{text-decoration: none;color: rgb(13,19,33); font-size: 28px; font-weight: 800;}

/* section nav style */

.headersection{background-image: url(assets/Hero-bg.png);}

.divparent{height: 620px; width: auto; margin: 30px auto; display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 35px 330px;gap: 50px;}
.textcenter{ text-align: center; } .headerh3{font-family: serif;}
.button1{  display:flex;justify-content: center; } 
.button2{background-color: rgb(13,19,33);color: white; height:60px  ;width: 200px;}
.linkf { text-decoration: none;}

/* main -- section1 style */

.section1{margin-top: 100px; padding: 0 430px;}
.parentdivtext{padding: 130px 0px;}
.textdiv3,.textdiv1{display: flex; justify-content: space-between; padding: 30px;}
.textdiv2{display: flex; justify-content: flex-start; padding: 30px; align-items: flex-start;}
.monabutton{height: 30px; width: 100px; border: rgb(13,19,33) 1px solid; background-color: white;}
.pading{ padding-bottom:30px ;}

/* main -- section 2 style */
 .display{ display: block; text-align: center; margin-top: 0;}
 .video{ display: flex; justify-content: center;align-items: center; margin-top: 50px;}
 iframe{border-radius: 3%;}

 /* main -- section3 style */
 .flex3{ display: flex; justify-content: center; align-items: center;padding: 80px 120px ; }.mona{ height: 200px; width: 370px;  }


 /* footer-- section style */
  .footersection{ display: flex; justify-content: center;}
  .footerparent{height:186px; width: 844px;background-image: url(assets/handshake.jpg); background-size: cover; background-repeat: no-repeat; padding:120px 200px ; border-radius: 5%;} 
input{ height: 43px; width: 500px;}
  .inputdiv{ display: flex; justify-content: center;margin-top: 100px;}
  .inputbutton{ height: 50px; width: 100px; margin-left:10px ;}

  /* footer section2 style */
  .onlyfooter{width: 1280px; height: 40px; align-items: center;padding: 50px 190px; margin:20px auto ; background-color:
    rgb(30, 19, 33,0,0) ; }
.imgfooter{ padding-left: 30px;}
  .parentfooter{display: flex; justify-content: space-between; align-items: center;}

